@page
@model TournamentDistributionHexa.Presentation.Web.Pages.Scores.IndexModel

@{
    ViewData["Title"] = "Index";
    int nbMatchFinis = Model.Scores.Count(x => x.Match.EndDate != null);
    int nbMatchs = Model.Scores.Count();
    var progressionTournoi = nbMatchFinis * 100 / nbMatchs;
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    <div class="col-lg-7">
        <h4>Récapitulatif</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Game
                    </th>
                    <th>
                        Scores
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model.Scores.GroupBy(x => x.Game.Name))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => game.Key)
                        </td>
                        <td>
                            <ul>
                                @foreach (var score in Model.Scores.Where(x => x.Game.Name == game.Key))
                                {
                                    <li>@score.Player.LastName @score.Player.FirstName @score.Player.Telephone - Points : @score.Points</li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-5">
        <div class="row">
            <div class="col-lg-12">
                <h4>Classement</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Joueur</th>
                            <th>Points</th>
                            <th>Progression</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var classement in Model.Classements)
                        {
                            <tr>
                                <td>@classement.PlayerName</td>
                                <td>@classement.Points.Value</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @classement.Progression.Value%" aria-valuenow="@classement.Progression.Value" aria-valuemin="0" aria-valuemax="100"> @classement.Progression.Value %</div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Avancement</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @progressionTournoi%" aria-valuenow="@progressionTournoi" aria-valuemin="0" aria-valuemax="100">@progressionTournoi %</div>
                </div>
            </div>
        </div>
        <div id="graph" style="height: 250px;"></div>
    </div>
</div>
<script>

    var week_data = @Html.Raw(Model.BurndownChartLines);
    Morris.Line({
        element: 'graph',
        data: week_data,
        xkey: 'period',
        lineColors: ['blue', 'green'],
        ykeys: ['expected', 'actual'],
        labels: ['Attendu', 'Courant']
    });
</script>
